.top__nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 4rem;
    z-index: 10;
    background-color: var(--color-light-black);
}
.top__nav .content{
    display: flex;
    justify-content: space-between;
    height: 100%;
    max-width: var(--width-navbar-max);
    margin: auto;
}
.top__nav .logo{
    height: 100%;
    width: 8rem;
    background-color: #aaa;
}
.top__nav .hamburger {
    height: 100%;
    width: 6rem;
    background-color: #ccc;
}
.top__nav .horizontal{
    height: 100%;
    width: calc(100% - 10rem);
    background-color: #555;
}


.left__nav{
    width: 100%;
    height: 100vh;
    background-color: #ccc;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}